@import "../../../styles/function";
.sidebar_contact_card {
  text-align: center;
  padding: clamp(1rem, 2vw, 2rem);

  &:hover {
    color: $main-color;
  }

  .icon {
    font-size: 3rem;
    transition: 0.6s;
  }
  li {
    margin-top: 1rem;
  }

  .heading {
    text-transform: capitalize;
  }

  .contact {
    p {
      font-size: 1.6rem;
    }
  }
}
