@import "../../styles/function";

#broucher_container {
  min-height: 100vh;
  @include flex(center, center);
  #broucher_slider {
    position: relative;

    &::after {
      width: 100%;
      height: 100%;
      content: "";
      background-color: $main-color;
      position: absolute;
      left: 0;
      clip-path: polygon(0 94%, 100% 0, 100% 94%);
      top: 0;
    }
    @include flex(center, center);
    height: 80vh;
    #broucher_slide {
      @include flex(center, center);
      .image_container {
        max-width: 35rem;
      }
    }
  }
}

.right_content {
  li {
    margin-top: 1rem;
  }
  .experience {
    border-left: 1rem solid $main-color;

    span,
    h2 {
      margin-left: 2rem;
    }
    span {
      font-size: clamp(6rem, 6vw, 7rem);
      color: $main-color;
      font-weight: 900;
    }

    h2 {
      text-transform: uppercase;
      font-size: clamp(2rem, 3vw, 3rem);
      font-weight: 600;
    }
  }

  .heading {
    h1 {
      font-weight: bold;
      font-size: clamp(2.5rem, 3vw, 4rem);
    }
  }

  .sign {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    @include media("<=phone") {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
    img {
      max-width: 20rem;
    }

    section {
      h4 {
        font-size: 2rem;
      }
    }

    @include default;
  }
}
