@import "../../styles/function";

#ourteam_container {
  text-align: center;
  #left {
  }

  #right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;

    @include media("<=laptop") {
      grid-template-columns: repeat(2, 1fr);

      @include media("<=tablet") {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
