@import "../../styles/function";

.test_card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: clamp(1rem, 2vw, 2rem);
  max-width: 50rem;
  min-height: 30rem;
  @include flex(center, center);
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  .image_container {
    @include flex(space-between, center);
    gap: 2rem;
    img {
      width: 10rem;
      object-fit: scale-down;
    }

    & > :nth-child(1) {
      outline: 1rem solid $main-color;
      border-radius: 100%;
    }

    & > :nth-child(2) {
      h1 {
        font-size: clamp(1.8rem, 2vw, 2.5rem);
        text-transform: capitalize;
      }
      p {
        text-transform: capitalize;
        color: $main-color;
      }
    }
  }
}
