@import "../../styles/function";

.blog_container {
  min-height: 100vh;
  @include flex(center, center);
  margin-top: 2rem;

  @include flex(center, center);
  background-color: rgba(192, 192, 192, 0.731);
  .card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    place-items: center;
    grid-template-rows: repeat(auto, auto);
    grid-template-areas: "one two three";

    @include media("<=laptop") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "one one" "two three";
      @include media("<=phone") {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "one" "two" "three";
      }
    }
    & > :nth-child(1) {
      grid-area: one;
    }

    & > :nth-child(2) {
      grid-area: two;
    }

    & > :nth-child(3) {
      grid-area: three;
    }
  }
}
