@import "../../styles/function";

.formcard_container {
  min-height: 30rem;
  @include flex(space-between, center);
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.2s;

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  //   .image {
  //   }
  background-color: $main-color;
  .content {
    text-align: center;

    p {
      font-size: clamp(2.5rem, 2vw, 3rem);
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
  }
}
