@import "../../styles/function";

#latestblog_container {
  min-height: 100vh;

  #right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    grid-template-areas: "one two three";
    & > :nth-child(1) {
      grid-area: one;
    }
    & > :nth-child(2) {
      grid-area: two;
    }
    & > :nth-child(3) {
      grid-area: three;
    }

    @include media("<=laptop") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "one one" "two three";

      @include media("<=phone") {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "one" "two" "three";
      }
    }
  }
}
