@import "../../styles/function";
#contact_container {
  #contact_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include media("<=laptop") {
      grid-template-columns: repeat(1, 1fr);
    }

    section {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  }
}
